.emlogo{
    width:80px;
    

}

@media(max-width:991px){
    .emlogo{
        width:60px;
        
    }
}

#id1, #id2, #id3, #id4, #id5, #id6, #id7, #id8, #id9{
    color:white;
    font-weight:bold;
}

.hire{
    color:black !important;
    
}

.hirebox{
    display:flex;
    flex-direction:column;
    justify-content:center;
}